
<div class="row">
  <div class="col-md-8 offset-md-2 text-center my-3" (click) = "onPostAdd()">
    Add Post
    <button mat-mini-fab color="primary" class= "example-button" matTooltip="Click to Add post">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
<div class="row" >
  <div class="col-md-6 offset-md-3">
    <div class="text-center" *ngIf="postsArr.length > 0 ; else noPost">
      <app-post-card
      (emitPost)="patchEditValue($event)"
      (emitPostId)="removePost($event)"
     [postObj] ="post" *ngFor="let post of postsArr"></app-post-card>
    </div>

  </div>
</div>
<ng-template #noPost>
<p class="alert alert-info">No Post Added Yet !!!</p>
</ng-template>

